<h2>List of students</h2>
<h2>New student</h2>
<div>
  <label
    >Index:
    <input #studIndex />
  </label>
  <label
    >First name:
    <input #studFirstName />
  </label>
  <label
    >Last name:
    <input #studLastName />
  </label>
  <button
    (click)="
      create(+studIndex.value, studFirstName.value, studLastName.value);
      studIndex.value = '';
      studFirstName.value = '';
      studLastName.value = ''
    "
  >
    Add
  </button>
</div>

<ul class="student-list">
  <li class="student-item" *ngFor="let student of students">
    <a routerLink="/detail/{{ student.id }}">
      <span>{{ student.index }}</span>
    </a>
    <span>{{ student.lastName }}</span>
    <span>{{ student.firstName }}</span>
    <button title="Delete" (click)="delete(student)">Delete</button>
  </li>
</ul>
